 <div id="scripts-container">
  <h1 id="choose-script">Choose a Story!</h1>
  <%= image_tag(asset_path('curtain.png'), class: "curtain-show" )%>

  <div id="scripts-list">
    <%= render @scripts %>
  </div>

  <% if @story != nil %>
  <%= link_to "See a Random #{@genre.genre_name} Story", story_path(@story.share_url) %>
  <% end %>
</div>