  <%= image_tag(asset_path('curtain.png'), class: "curtain" )%>
<h1>Choose a Story!</h1>

<%= render @scripts %>

<% if @story != nil %>
<%= link_to "See a Random #{@genre.genre_name} Story", story_path(@story.share_url) %>
<% end %>
