<%= render 'stories/form' %>
<%= link_to "Show Me a Random Story From This Script!", story_path(@random_story) %>

<h3><%= @script.name %></h3>
<% if @script_scenes_dialogues  %>
  <% @script_scenes_dialogues.each do |scene_dialogue| %>
    <p><%= scene_dialogue %></p>
  <% end %>
<% end %>


